$primary-color:     #3A89FF !default;
$white-color:       #ffffff !default;
$text-color:        #DDE2EA !default;
$dark-color:        #171A1E !default;
$dark-color-alt:    #424549 !default;
$darker-color:      #0e1012 !default;