.my-works {
    padding: 7.5rem 0;

    .button-menu-set {
        position: absolute;
        top: 1.75rem;
        right: 1.75rem;

        @include atLarge {
            top: 3.5rem;
            right: 3.5rem;
        }
        
        .menu-btn,
        .mail-btn {
            svg {
                width: 30px;
                stroke: $dark-color;
            }
        }
    }

    h2 {
        font-size: 48px;
        font-weight: 700;
    }
}