.sec-four {
    padding: 7.5rem 0;
    background-color: $white-color;
    position: relative;

    &__title {
        font-size: 40px;
        font-weight: 900;
        margin-bottom: 2rem;
        text-align: center;

        @include atMedium {
            text-align: left;
            font-size: 64px;
        }
    }

    &__sub-title {
        font-weight: 500;
        font-size: 18px;
        line-height: 1.75;
        margin-bottom: 2.5rem;
        text-align: center;

        @include atMedium {
            text-align: left;
        }
    }

    .button-set {
        display: flex;
        gap: 1.5rem;
        align-items: center;
        flex-direction: column;

        @include atMedium {
            flex-direction: row;
            align-items: flex-start;
        }
    }

    .main-columns {
        flex-direction: column-reverse;
        margin-bottom: 5rem;        

        @include atXMedium {
            margin-bottom: 7.5rem;
            align-items: center;
            flex-direction: row;
        }

        .column {
            &:first-child {
                @include atXMedium {
                    flex-basis: 60%;
                }
            }

            &:last-child {
                text-align: center;

                @include atMedium {
                    text-align: left;
                }

                @include atXMedium {
                    text-align: right;
                    flex-basis: 40%;
                }

                svg {
                    max-width: 200px;
                    width: 100%;

                    @media screen and (max-width: 767px) {
                        margin: 0 auto 1.5rem;
                    }

                    @include atXMedium {
                        max-width: 60%;
                    }
                }
            }
        }
    }

    .company {
        font-size: 28px;
        font-weight: 700;
        margin-bottom: 1rem;
    }

    .job-title {
        color: $primary-color;
    }

    .job-title,
    .tenure {
        font-size: 14px;
        margin-bottom: 1rem;
        font-weight: 600;
    }

    .tenure {
        margin-bottom: 2.5rem;

        &.no-margin {
            margin: 0;
        }
    }

    .job-title,
    .tenure,
    .company {
        text-align: center;

        @include atMedium {
            text-align: left;
        }
    }
    
}