.sec-three {
    padding: 7.5rem 0;
    background-color: $white-color;
    position: relative;
    
    &::after {
        content: "";
        position: absolute;
        bottom: 0;
        z-index: 5;
        max-width: 1140px;
        width: 70%;
        height: 1px;
        background-color: #d4d7db;
        border-spacing: 2px;
        left: 50%;
        transform: translateX(-50%);
    }

    &__title {
        font-size: 40px;
        font-weight: 900;
        text-align: center;
        margin-bottom: 2rem;

        @include atMedium {
            font-size: 64px;
        }
    }

    &__sub-title {
        text-align: center;
        font-weight: 500;
        font-size: 18px;
        line-height: 1.75;
        max-width: 100%;
        margin-bottom: 5rem;

        @include atMedium {
            max-width: 70%;
            margin-left: auto;
            margin-right: auto;
        }
    }

    .swiper {
        margin: 5rem 1.5rem 0;
    }

    &__logo-title {
        text-align: center;
        font-size: 1.5rem;
        font-weight: 700;
        margin-bottom: 2rem;
    }

    .logo-set {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        gap: 1rem;

        @include atXMedium {
            flex-wrap: nowrap;
        }

        a {
            max-width: calc(50% - 2rem);
            
            @include atLarge {
                max-width: 175px;
            }

            img {
                opacity: 0.7;
                transition: all 0.2s ease-in-out;
    
                &:hover {
                    opacity: 1;
                }
            }
        }
    }
}